	#portrait{
		  height: 200px; 
		  width: 200px";
		}

		ul {
			list-style: none;
			padding-left:  0;
			margin-left: 0;
			display: block;
			width: 100%;
			border: 1px solid #000000;
			height: 20px;

		}

		li a:visited {
			text-decoration: none;
		}

		li {
			float: left;
			display: block;
			width: 100px;
			
			padding-left:  0;
			margin-left: 0;
			text-align: center;
			padding-top:; 3px;
			padding-bottom: 3px;

		}


		#breadcrumbs {
			clear: left;
		}

		#selected {
			background-color: lightblue;
		}

		#info {
			width: 300 px;
			float: right;
			margin-right: 500px;
			
		}
	
		